/* ROOT */
:root {
  /* colocar as variaveis de cor aqui */
}


/* COLORS */
.highlights {
  color: yellow;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto&display=swap");

/* BOTOES */
.inter {
  font-family: "Inter", sans-serif !important;
}

/* TITULOS */
.montserrat {
  font-family: "Montserrat", sans-serif !important; 
}

/* TEXTOS */
.roboto {
  font-family: "Roboto", sans-serif !important;
}

/* GLOBAL */
body {
  color: white;
  background-color: black;
}

section {
  padding-left: 5%;
  padding-right: 5%;
}

h1,
h2,
strong {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  line-height: 35px;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
}

.line {
  width: 60px;
  height: 4px;
  background-color: yellow;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.glow {
  box-shadow: 0px 0px 37px 20px rgb(242 140 49 / 56%);
}

/* ALERTHEADER */
#alert-header {
  background-color: yellow;
  color: black !important;
  z-index: 80;
}

/* HERO SECTION */
.logo {
  width: 100px;
}

#hero-section {
  background-image: url(../assets/BG-HERO.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
}

.custom-text-padding {
  padding-top: 200px;
}

/* SHAPES TRANSFORMADOS */
.custom-card-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outside-border {
  border: 1px solid rgba(255, 255, 0, 0.541);
  border-radius: 20px;
  padding: 1px;
  width: 100%;
}

.inside-border {
  border: 1px solid rgba(255, 255, 0, 0.541);
  border-radius: 20px;
  padding: 8px;
  width: 100%;
}

.depoimento-card-video {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.depoimento-card-photo {
  width: 100%;
  height: min-content;
  background-color: grey;
}

.owl-item.active {
  height: auto;
}

.owl-item.cloned {
 height: 250px;
}

/* CARROSSEL SHAPES TRANSFORMADOS */
.owl-nav {
  position: relative;
}

.owl-item {
  overflow: hidden;
  height: 250px;
}

.owl-prev {
  font-size: 70px !important;
}

.owl-next {
  font-size: 70px !important;
}

.custom-carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-logo {
  width: 40px !important;
}

/* O QUE É O PROJETO */
#about-section {
  background-image: url(../assets/bg-002.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.circle {
  height: 200px;
  width: 200px;
  background-color:rgba(251, 255, 0, 0.514);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translatex(-50%);
}

svg:hover {
  transform: scale(1.1);
}

svg {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
}

path {
  fill: white;
}



.card-template {
  position: relative;
  padding-top: 100px !important;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f28c3142;
  margin: 10px 10px 10px 10px;
  padding: 30px 30px 30px 30px;
  display: flex;
  max-width: 70%;
  border-radius: 20px !important;
  background-image: linear-gradient(
    120deg,
    rgba(242, 140, 49, 0.4) 0%,
    rgba(242, 140, 49, 0.2) 100%
  ) !important;
  /* linear-gradient(120deg, #F28C318F 0%, #F28C3100 100%)  */
}

.card-template-bonus {
  position: relative;
  padding-top: 100px !important;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f28c3142;
  margin: 10px 10px 10px 10px;
  padding: 30px 30px 30px 30px;
  display: flex;
  border-radius: 20px !important;
  background-image: linear-gradient(
    120deg,
    rgba(242, 140, 49, 0.4) 0%,
    rgba(242, 140, 49, 0.2) 100%
  ) !important;
  /* linear-gradient(120deg, #F28C318F 0%, #F28C3100 100%)  */
}

.card-template-biotipo {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f28c3142;
  margin: 10px 10px 10px 10px;
  padding: 30px 30px 30px 30px;
  display: flex;
  width: 100% !important;
  border-radius: 20px !important;
  background-image: linear-gradient(
    120deg,
    rgba(242, 140, 49, 0.4) 0%,
    rgba(242, 140, 49, 0.2) 100%
  ) !important;
  /* linear-gradient(120deg, #F28C318F 0%, #F28C3100 100%)  */
}

.card-template h2 {
  font-size: 40px !important;
  line-height: 45px;
}

.card-template p {
  font-size: xx-large !important;
}

.card-template-bonus h2 {
  font-size: 40px !important;
  line-height: 45px;
  margin-bottom: 20px;
}

.card-template-bonus p {
  font-size: xx-large !important;
}

.card-template-biotipo h2 {
  font-size: 40px !important;
  line-height: 45px;
}

.card-template-biotipo p {
  font-size: xx-large !important;
}

#about-content-card-container {
  display: flex !important;
  flex-wrap: wrap;
  text-align: center;
}



#about-content-card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

/* SEÇÃO PARA QUEM */
#para-quem-section {
  background-image: url(../assets/bg003.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.biotipo-card {
  perspective: 1000px;
}

.flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.biotipo-card:hover {
  transform: rotateX(180deg);
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  background-color: grey;
}

.card-back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: grey;
}

.mt--5 {
  margin-bottom: -40px;
}
.duvidas {
  text-align: center;
  margin-top: 2%;
}


.duvidas-container .card {
  background-color: black;
}
.duvidas-container hr {
  background-color: yellow;
}
.duvidas-container .btn-outline-info {
  border-color: yellow;
  color: white;
  background: transparent !important;
  margin: 0.5%;
  font-weight: 500 !important;
}
.duvidas-container .btn-outline-info:hover {
  background-color: yellow;
  border-color: #ffc107;
  color: black;
  opacity: 0.9;
}

.footer-top-container a {
  width: 100%;
}

.footer-top-container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.footer-top-container h2 {
  margin-bottom: 1%;
}

.footer-bottom-container {
  text-align: center;
}

.title {
  margin-top: 2%;
}
#price-section .col .card-template {
  background-image: url(../assets/bg-preco-1.jpg) !important;
  background-position: center;
  background-size: cover;
  color: rgba(255,128,0,0.9836309523809523);
  font-weight: 700;
}

#price-section img{
  width: 100%;
}

#price-section .card-template {
  width: 100% !important;
  font-size: 22px;
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
  text-align:center;
  font-size: xx-large;
}
#price-section ul {
    list-style-type: none;
    line-height: 2;
  }

#price-section .discount {
    font-size: 30px;
}
#price-section .big-price {
    font-size: 65px;
}
#price-section .btn {
    font-size: 30px;
    margin-top: 2%;
}

.col-md-7 .btn {
  border-radius: 700px;
  padding-left:  10px !important;
  padding-right: 10px !important;
}

#footer-copywright {
  font-size: 35px;
}

.duvidas .btn {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

@media screen and (max-width: 1000px) {

  #alert-header {
    font-size: xx-large;
  }

  #hero-section div.col-6 {
    width: 100% !important;
    text-align: center;
    margin-top: 300px;
  }

  #hero-section div.col-6 .line {
    width: 30% !important;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #hero-section h3 {
    text-align: center;
    font-size: 36.90999px;
    text-align: justify;
  }

  #hero-section h1.my-4 {
    font-size: 60px !important;
    line-height: 60px;
  }

  #iframe-vendas-wrapper h5 {
    font-size: 35px !important;
  }

  #container-iframe-vendas {
    width: 100%;
    height: 500px;background-color: grey;
    box-shadow: 0px 0px 50px 5px white;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .custom-text-padding {
    font-size: 45px !important;
    width: 100% !important;
    line-height: 50px;
  }

  .owl-dots {
    display: none;
  }

  .owl-nav span{
    align-items: center;
    justify-content: center;
    vertical-align:middle;
  }

  #about-product {
    width: 100% !important;
    text-align: center;
  }

  #about-product h2 {
    font-size: 45px !important;
  }

  #about-product p {
    font-weight: 700;
    font-size: 30px !important;
    text-align: justify;
  }

  section#garantia-7-dias {
    flex-direction: column;
  }

  #garantia-7-dias div.col-6 {
    width: 100%;
    text-align: center;
    font-size: 35px !important;
  }

  #garantia-7-dias div.col-6 img {
    width: 40% !important;
    height: 40% !important;
    margin-bottom: 25px;
  }

  #garantia-7-dias h5 {
    width: 100%;
    padding: 0;
    margin: 10px 0px 10px 0px !important;
    font-size: 25px !important;
    margin: 30px;
  }
  
  #garantia-7-dias p {
    font-size: 30px !important;
    margin-bottom: 30px !important;
  }

  div.container div.row.justify-content-center div.col-sm-7 {
    width: 90% !important;
  }

  .btn {
    width: 100% !important;
    font-size: xx-large;
    font-weight: 800;
    border-radius: 20px;
    padding: 50px 0px 50px 0px !important;
    background: linear-gradient(49deg, rgba(255,248,0,0.9220063025210083) 0%, rgba(251, 255, 0, 0.942) 15%, rgba(255,128,0,0.9836309523809523) 100%);
  }

  h1, h2 {
    font-size: xx-large;
  }

  #about-content > h2:first-child {
    font-size: 45px !important;
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  
  #about-content-ontainer {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }

  #about-content-card-container .card-template-biotipo {
    width: 100% !important;
    font-size: 50px !important;
  }

  #para-quem-section div.col-6 {
    width: 100% !important;
    text-align: justify;
    font-size: 23.629px;
    font-weight: 700;
  }

  #para-quem-section {
    margin-top: 55px;
  }

  #depoimento-fotos-modulos {
    margin-top: 100px;
  }

}

#biotipo-cards-container   {
  box-sizing: unset;
}
#biotipo-cards-container  .card-template-biotipo {
  align-items: center;
  cursor: pointer;
  border-width: 2px;
}

#biotipo-cards-container  hr {
  height: 3px;
  width: 100%;
  background-color:yellow;
  text-align: center;
}

#biotipo-cards-container  .card-template:hover  {
  border-color: #ffc107;
  border-width: 2px;
}
/* PRECISA DE MEDIA */
#biotipo-cards-container .card-template {
  width: 100% !important;
  min-height: 420px;
}

#biotipo-cards-container  .card-template:hover hr {
  color: #ffc107;
}

#biotipo-cards-container  .card-template:hover > hr  {
  color: #ffc107;
  opacity: 0.7;
}

#biotipo-cards-container img {
  max-width: 280px ;
}

@keyframes buttonPulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.05);
  }

  100% {
      transform: scale(1);
  }
}

.pulse {
  animation: buttonPulse 1s ease infinite;
}
