/* ROOT */
:root {
  /* colocar as variaveis de cor aqui */
}


/* COLORS */
.highlights {
  color: yellow;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
/* BOTOES */
.inter {
  font-family: "Inter", sans-serif !important;
}

/* TITULOS */
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* TEXTOS */
.roboto {
  font-family: 'Roboto', sans-serif !important;
}


body {
  background-color: black;
}

h2 {
  font-size: large !important;
  font-weight: 900 !important;
}
  


.glow {
  box-shadow: 0px 0px 37px 20px rgb(242 140 49 / 56%);
}

@keyframes buttonPulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.05);
  }

  100% {
      transform: scale(1);
  }
}

.pulse {
  animation: buttonPulse 1s ease infinite;
}