/* ROOT */
:root {
  /* colocar as variaveis de cor aqui */
}


/* COLORS */
.highlights {
  color: yellow;
}

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto&display=swap");

/* BOTOES */
.inter {
  font-family: "Inter", sans-serif !important;
}

/* TITULOS */
.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

/* TEXTOS */
.roboto {
  font-family: "Roboto", sans-serif !important;
}

/* GLOBAL */
body {
  color: white;
  background-color: black;
}

section {
  padding-left: 15%;
  padding-right: 15%;
}

h1,
h2,
strong {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  line-height: 35px;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
}

.line {
  width: 60px;
  height: 4px;
  background-color: yellow;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.glow {
  box-shadow: 0px 0px 37px 0px rgb(242 140 49 / 56%);
}

/* ALERTHEADER */
#alert-header {
  background-color: yellow;
  color: black !important;
  z-index: 80;
}

/* HERO SECTION */
.logo {
  width: 100px;
}

#hero-section {
  background-image: url(../assets/BG-HERO.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
}

.custom-text-padding {
  padding-top: 200px;
}

/* SHAPES TRANSFORMADOS */
.custom-card-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outside-border {
  border: 1px solid rgba(255, 255, 0, 0.541);
  border-radius: 20px;
  padding: 1px;
  width: 100%;
}

.inside-border {
  border: 1px solid rgba(255, 255, 0, 0.541);
  border-radius: 20px;
  padding: 8px;
  width: 100%;
}

.depoimento-card-video {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.depoimento-card-photo {
  width: 100%;
  height: 300px;
  background-color: grey;
}

/* CARROSSEL SHAPES TRANSFORMADOS */
.owl-nav {
  position: relative;
}

.owl-prev {
  font-size: 70px !important;
}

.owl-next {
  font-size: 70px !important;
}

.custom-carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-logo {
  width: 40px !important;
}

/* O QUE É O PROJETO */
#about-section {
  background-image: url(../assets/bg-002.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-left: 15%;
  padding-right: 15%;
}

.card-template {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #f28c3142;
  margin: 10px 10px 10px 10px;
  padding: 30px 30px 30px 30px;
  width: 30% !important;
  border-radius: 20px !important;
  background-image: linear-gradient(
    120deg,
    rgba(242, 140, 49, 0.4) 0%,
    rgba(242, 140, 49, 0.2) 100%
  ) !important;
  /* linear-gradient(120deg, #F28C318F 0%, #F28C3100 100%)  */
}

#about-content-card-container {
  display: flex !important;
  flex-wrap: wrap;
  text-align: center;
}

.card-template h2 {
  font-size: 1.2vw;
  font-weight: 900;
}

.card-template p {
  font-size: 1vw;
}

.circle {
  border-radius: 50%;
  background-color: rgb(242, 140, 49);
}

#about-content-card-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

/* SEÇÃO PARA QUEM */
#para-quem-section {
  background-image: url(../assets/bg003.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.biotipo-card {
  perspective: 1000px;
}

.flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.biotipo-card:hover {
  transform: rotateX(180deg);
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  background-color: grey;
}

.card-back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  background-color: grey;
}

.mt--5 {
  margin-bottom: -40px;
}
.duvidas {
  text-align: center;
  margin-top: 2%;
}

.duvidas-container .card {
  background-color: black;
}
.duvidas-container hr {
  background-color: yellow;
}
.duvidas-container .btn-outline-info {
  border-color: yellow;
  color: white;
  margin: 0.5%;
}
.duvidas-container .btn-outline-info:hover {
  background-color: yellow;
  border-color: #ffc107;
  color: black;
  opacity: 0.9;
}

.footer-top-container a {
  width: 100%;
}

.footer-top-container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.footer-top-container h2 {
  margin-bottom: 1%;
}

.footer-bottom-container {
  text-align: center;
}

.title {
  margin-top: 2%;
}
#price-section .col-sm-7 .card-template {
  background-image: url(../assets/bg-preco-1.jpg) !important;
  background-position: center;
  background-size: cover;
}

#price-section img{
  width: 100%;
}

#price-section .card-template {
  width: 100% !important;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  text-align:center;
}
#price-section ul {
    list-style-type: none;
}
#price-section .discount {
    font-size: 30px;
}
#price-section .big-price {
    font-size: 65px;
}
#price-section .btn {
    font-size: 35px;
    margin-top: 2%;
}


@media screen and (max-width: 1000px) {
  section#hero-section div.col-6 {
    width: 70% !important;
  }

  section#garantia-7-dias {
    flex-direction: column;
  }

  #garantia-7-dias div.col-6 {
    width: 100%;
  }

  #garantia-7-dias div.col-6 img {
    width: 50% !important;
    height: 50% !important;
    margin-bottom: 25px;
  }

  div.container div.row.justify-content-center div.col-sm-7 {
    width: 90% !important;
  }

  .btn {
    width: 100% !important;
    font-size: x-large;
  }

}




#biotipo-cards-container  .card-template {
  align-items: center;
  cursor: pointer;
  border-width: 2px;
}
#biotipo-cards-container  hr {
  height: 3px;
  width: 100%;
  background-color:yellow;
  text-align: center;
}

#biotipo-cards-container  .card-template:hover  {
  border-color: yellow;
  border-width: 2px;


}
#biotipo-cards-container  p {
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.9s linear;
}
#biotipo-cards-container img {
  width: 40%;
}